/* font-weight
Thin 100
ExtraLight 200
Light 300
Regular 400
Medium 500
SemiBold 600
Bold 700
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
}

a:visited {
    color: inherit;
}

.text_red {
    color: #aa0000;
}

.text_green {
    color: #78a962;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: #ffffff;
    border-bottom: 1px groove #a2a6b0;
    color: #000000;
}

header .container {
    display: flex;
    align-items: center;
}

header .container nav {
    position: relative;
}

.menu {
    display: flex;
    position: relative;
}

.menu > li {
    /* margin: 0 25px; */
    padding: 20px 25px;
    border-bottom: 4px solid transparent;
    font-weight: 600;
}

.menu > li:hover {
    border-bottom: 4px solid #0156ff;
}

.menu li a {
    text-decoration: none;
}

#logo {
    width: 85px;
    height: 69px;
}

/* Submenu Style */

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.submenu > li {
    border: 1px solid #a2a6b0;
}

.menu li:hover .submenu {
    display: flex;
}

.product_card {
    width: 234px;
    height: 346px;
    padding: 0 24px;
    background-color: #ffffff;
}

.product_card > img {
    display: block;
    margin: 0 auto;
}

.stock_info {
    font-size: 0.625em;
    padding: 7px 0;
}

.stock_info img {
    width: 10px;
}

.reviews {
    display: flex;
    padding: 6px 0;
}

.reviews p {
    font-size: 0.75em;
    color: #a2a6b0;
    font-weight: lighter;
    margin-left: 8%;
}

.product_description {
    max-width: 185px;
    max-height: 65px;
    font-size: 0.8125em;
    font-weight: normal;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Número de linhas antes de cortar */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.price del {
    font-size: 0.875em;
    font-weight: normal;
    color: #666666;
}

.price strong {
    font-size: 1.125em;
}

/*End*/

/* Actions style */

.actions {
    display: flex;
    align-items: center;
}

.last {
    margin-left: auto;
}

/*End*/

/* User account style */

#account {
    position: relative;
    width: 36px;
    height: 36px;
}

#account img {
    border-radius: 50%;
    cursor: pointer;
}

.dropdown-wrapper {
    display: inline-block;
}

.dropdown {
    display: none;
    position: absolute;
    top: 125%; /* posição da caixa */
    right: 0;
    background: white;
    color: black;
    padding: 8px 12px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    font-size: 14px;
    white-space: nowrap;
}

.dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown > li {
    padding: 8px 0;
}

.dropdown::after {
    content: "";
    position: absolute;
    bottom: 100%; /* seta para cima */
    right: 12px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

#account:hover .dropdown {
    display: block;
}

#account_options li {
    font-size: 1em;
    font-weight: 500;
    margin: 16px 0px;
    cursor: pointer;
}

/* End */

/* Cart Style */
#minicart_title {
    font-size: 1.29em;
    text-align: center;
    font-weight: 600;
}

#minicart_products_total {
    text-align: center;
    font-size: 0.85em;
    color: #a2a6b0;
    margin-bottom: 20px;
}

#minicart {
    position: relative;
    margin-right: 25px;
    width: 36px;
    height: 36px;
}

#minicart .dropdown {
    width: 310px;
    z-index: 10;
}

#minicart .dropdown ul {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#minicart:hover .dropdown {
    display: block;
}

.minicart_icon {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff; /* cor de fundo do container */
}

.minicart_svg {
    width: 100%;
    height: 60%;
}

.minicart_icon div {
    width: 16px;
    height: 16px;
    font-weight: bold;
    font-size: 0.625em;
    background-color: #0156ff;
    position: absolute;
    top: -20%;
    right: 0;
    color: #ffffff;
    text-align: center;
    border-radius: 50%;
}

.minicart_product_desc {
    width: 153px;
    height: auto; /* Permite que o conteúdo se ajuste mais facilmente */
    max-height: 62px; /* Mantém a altura máxima */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    font-size: 0.92em;
}

.minicart_qnt {
    display: flex;
    align-items: baseline;
    width: 18px;
    height: 25px;
}

.minicart_qnt p:nth-child(1) {
    font-size: 1.29em;
}

.minicart_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 286px;
    border-top: 1px solid #cacdd8;
    border-bottom: 1px solid #cacdd8;
    padding: 6px 0;
}

.minicart_buttons {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 20px;
    height: 20px;
    gap: 6px;
}

.minicart_buttons button {
    border: none;
    background: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#minicart_subtotal {
    margin-top: 16px;
    width: 100%;
    font-weight: 600;
    color: #a2a6b0;
}

#minicart_subtotal p {
    text-align: center;
}

#minicart_subtotal strong {
    font-size: 1.28em;
    font-weight: 600;
    color: #000000;
}

#go_cart_button {
    width: 250px;
    display: block;
    margin: 13px auto;
    border: none;
    background-color: #0156ff;
    border-radius: 20px;
    font-size: 1em;
    font-weight: 600;
    color: #ffffff;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
}

/* End */

/* Search button style */
#search_button {
    margin-right: 25px;
    cursor: pointer;
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* End */

/* Search field */

#srch_field {
    display: none;
    position: absolute;
    right: 0;
    top: 20%;
    width: 100%;
    height: 80%;
    background-color: #ffffff;
}

#srch_field input {
    background-color: #f5f7ff;
    border: none;
    color: #a2a6b0;
    font-size: 0.87em;
    width: 100%;
    border-radius: 40px;
    padding: 10px;
}

/* End */

/* About store */

#about {
    display: flex;
    margin-top: 30px;
}

#about img {
    margin-right: 30px;
}

#about .store_description h2 {
    margin-bottom: 20px;
}

#about .store_description p {
    font-size: 1em;
}

/* End */

/* New products seccion */

#new_products {
    margin: 40px 0 40px 0;
}

.new_products_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

#new_products .product_card {
    height: 396px;
}

#new_products .product_card button {
    width: 150px;
    height: 50px;
    display: block;
    margin: 0 auto;
    border: none;
    background-color: #0156ff;
    color: #ffffff;
    font-size: 0.88em;
    font-weight: 600;
    border-radius: 50px;
    cursor: pointer;
}

/* End */

/* Footer */

footer {
    background-color: #000000;
    color: #ffffff;
}

footer .container {
    overflow: hidden; /*Resolve colapso de margem entre pai e primeiro filho*/
}

#newsletter {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
    align-items: end;
}

#newsletter h3 {
    font-size: 2.38em;
    font-weight: 500;
}

#newsletter p {
    font-size: 1em;
    font-weight: 300;
}

#newsletter form input {
    font-size: 0.88em;
    font-weight: 300;
    background-color: #000000;
    border: 1px solid white;
    padding: 10px;
    border-radius: 4px;
    color: #ffffff;
    width: 300px;
}

#newsletter form button {
    font-size: 0.88em;
    border: none;
    background-color: #0156ff;
    color: #ffffff;
    font-weight: 600;
    padding: 12px;
    border-radius: 50px;
    margin-left: 23px;
    cursor: pointer;
}

#footer-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 60px;
}

#footer-info h2 {
    font-size: 0.88em;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 27px;
}

#footer-info li {
    font-size: 0.8em;
    margin-bottom: 5px;
}

#footer-info li a {
    text-decoration: none;
    color: inherit;
}

#footer-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding: 17px 0;
}

#footer-bottom .social-media img {
    cursor: pointer;
}

.center {
    display: flex;
    justify-content: center;
    column-gap: 3px;
}

/* End */
#hamburger {
    display: none;
}

#footer-info .info span {
    display: none;
}

@media screen and (min-width: 641px) and (max-width: 1023px) {
    /* Header */

    .container {
        max-width: 641px;
    }

    header {
        background-color: #0156ff;
    }

    header nav {
        width: 100%;
        height: 100%;
    }

    header .container {
        height: 75px;
        display: grid;
        grid-template-columns: 24px 496px 101px;
        gap: 10px;
    }

    #logo {
        display: none;
    }

    #hamburger {
        color: #ffffff;
        display: block;
        cursor: pointer;
    }

    .menu {
        position: absolute;
        display: none;
        top: 25%;
        background-color: rgb(255, 255, 255);
        z-index: 10;
        border-radius: 20px;
    }

    .submenu {
        top: 0;
        left: 100%;
    }

    .menu li:hover .submenu {
        display: flex;
        flex-direction: column;
    }

    #srch_field {
        display: block;
        background-color: transparent;
    }

    #srch_field form {
        margin-top: 4px;
    }

    #search_button {
        display: none;
    }

    .minicart_icon {
        background-color: transparent;
    }

    .minicart_svg {
        bottom: 0;
        position: absolute;
    }

    .minicart_svg path {
        fill: #ffffff;
    }

    .minicart_icon div {
        background-color: #ffffff;
        color: #0156ff;
        top: -3%;
    }

    /* End */

    /* About store */

    #about {
        flex-direction: column;
    }

    #about picture {
        margin-bottom: 30px;
    }

    #about img {
        margin: 0 auto;
        display: block;
    }

    /* End */

    /* New products */

    .new_products_list {
        grid-template-columns: repeat(2, 1fr);
        width: fit-content;
        margin: 20px auto 0 auto;
    }

    /* End */

    /* footer */
    #newsletter h3 {
        font-size: 1.1em;
    }

    #newsletter p {
        font-size: 0.83em;
    }

    #newsletter form input {
        width: 186px;
    }

    .payments-cards img {
        width: 34px;
    }

    #footer-bottom p {
        font-size: 0.8em;
    }

    .border-bottom {
        border-bottom: 1px solid #ffffff;
    }

    #footer-info {
        display: block;
    }

    #footer-info div:first-child {
        margin-bottom: 20px;
    }

    #footer-info .info h2 {
        grid-area: title;
    }
    #footer-info .info span {
        grid-area: arrow;
        width: 100%;
        text-align: end;
        display: block;
    }
    #footer-info .info ul {
        grid-area: infos;
        display: none;
    }
    #footer-info .info div {
        grid-area: border-bottom;
        margin-top: 10px;
    }

    #footer-info .info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "title arrow"
            "infos infos"
            "border-bottom border-bottom";
    }

    .arrow {
        justify-self: end;
    }

    /* End */
}
