* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
}

a:visited {
    color: inherit;
}

.text_red {
    color: #aa0000;
}

.text_green {
    color: #78a962;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: #ffffff;
    border-bottom: 1px groove #a2a6b0;
    color: #000000;
}

header .container {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    position: relative;
}

.menu > li {
    margin: 0 25px;
    padding: 20px 0;
    border-bottom: 4px solid transparent;
    font-weight: 600;
}

.menu > li:hover {
    border-bottom: 4px solid #0156ff;
}

.menu li a {
    text-decoration: none;
}

#logo {
    width: 85px;
    height: 69px;
}

/* Submenu Style */

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.submenu > li {
    border: 1px solid #a2a6b0;
}

.menu li:hover .submenu {
    display: flex;
}

.product_card {
    width: 234px;
    height: 346px;
    padding: 0 24px;
    background-color: #ffffff;
}

.product_card > img {
    display: block;
    margin: 0 auto;
}

.stock_info {
    font-size: 0.625em;
    padding: 7px 0;
}

.stock_info img {
    width: 10px;
}

.reviews {
    display: flex;
    padding: 6px 0;
}

.reviews p {
    font-size: 0.75em;
    color: #a2a6b0;
    font-weight: lighter;
    margin-left: 8%;
}

.product_description {
    max-width: 185px;
    max-height: 65px;
    font-size: 0.8125em;
    font-weight: normal;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Número de linhas antes de cortar */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.price del {
    font-size: 0.875em;
    font-weight: normal;
    color: #666666;
}

.price strong {
    font-size: 1.125em;
}

/* Actions style */

.actions {
    display: flex;
    align-items: center;
}

.last {
    margin-left: auto;
}

.search_button {
    margin-right: 25px;
}

/* Cart Style */

.cart_icon {
    margin-right: 25px;
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff; /* cor de fundo do container */
}

.cart_icon img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.cart_icon div {
    width: 16px;
    height: 16px;
    font-weight: bold;
    font-size: 0.625em;
    background-color: #0156ff;
    position: absolute;
    top: -20%;
    right: 0;
    color: #ffffff;
    text-align: center;
    border-radius: 50%;
}

/* User account style */

.account {
    position: relative;
}

.account img {
    border-radius: 50%;
}

.dropdown-wrapper {
    display: inline-block;
}

.dropdown {
    display: block;
    position: absolute;
    top: 100%; /* posição da caixa */
    right: 0;
    background: white;
    color: black;
    padding: 8px 12px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    font-size: 14px;
    white-space: nowrap;
}

.dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown > li {
    padding: 8px 0;
}

.dropdown::after {
    content: "";
    position: absolute;
    bottom: 100%; /* seta para cima */
    right: 20px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

.account:hover .dropdown {
    display: block;
}

/* End */

/* Cart Style */

.cart {
    position: relative;
}

.cart .dropdown {
    width: 310px;

    z-index: 10;
}

.cart .dropdown ul {
    display: flex;
    align-items: center;
}

.cart .dropdown::after {
    right: 42px;
}

.cart .cart_product_desc {
    width: 153px;
    height: 62px;
}

.cart_qnt {
    display: flex;
    align-items: baseline;
    width: 18px;
    height: 25px;
}

.cart_qnt p:nth-child(1) {
    font-size: 1.29em;
}

/* End */
